[mysqld]
# === Required Settings ===
pid-file			= /var/run/mysqld/mysqld.pid
socket				= /var/run/mysqld/mysqld.sock
datadir				= /var/lib/mysql
log-error			= /var/log/mysql/error.log


[mysqldump]
quick
quote_names
max_allowed_packet              = 2G
